# Roblox
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

# Rojo
.sourcemap.json
*.rbxlx

# OS
.DS_Store
Thumbs.db

#BAT FILES IGNORE
*.bat



# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Node
node_modules/
